@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
/*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/*font-family: 'Lato', sans-serif*/
@import url('https://fonts.googleapis.com/css?family=Allura');

@import url('https://fonts.googleapis.com/css?family=Assistant:200,400');
/* footer text */

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
  color: white;
}

.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 50px;
}



#logo {
  width: 13vw;
  margin: 10px 0 0 10px;
}

.menu-bars {
  display: none;
  height: 30px;
  padding: 1%;
  padding: 5% 5%;
  color: white;
  text-align: right;
  font-size: 25px;
  margin: -0.1em 3% 0 0;
  width: 100%;
}

.icon {
  cursor: pointer;
}

header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  text-align: right;
  margin: 30px 40px 0 0;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 0 30px 15px;
  padding: 15px;
}

header nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  color: gray;
}

.contact {
  border: 1px solid white;
  padding: 10px;
}

.contact:hover {
  color: black;
  background-color: white;
}

#header-image { 
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
}

#header-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.intro-text {
  position: absolute;
  text-align: center;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 11vw;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 55%;
}

.britta-abode {
  position: relative;
  text-align: center;
  color: white;
  font-size: 5vw;
  font-family: 'Allura', cursive;
  font-weight: 100;
}

#header-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 100vh rgba(36, 35, 35, 0.5) inset;
}

#livable-container {
  width: 100%;
  text-align: center;
  margin: 5% 0 5% 0;
}

#livable-container div {
  width: 75%;
  margin: auto;
}

.livable-spaces {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.intro-three-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: auto;
  width: 75%;
  text-align: center;
}

.intro-three-photos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  font-weight: 100;
}


.home-one {
  margin-top: 5%;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30em;
}

.home-one p {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 40px;
}

.home-one:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1000px rgba(36, 35, 35, 0.6) inset;
}

.home-one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-one-bottom {
  margin: 0 14% 0 14%;
}

.home-one-bottom img {
  width: 100%;
}

.venice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
  margin: 20px 14% 20px 14%;
}

.venice-wrapper img {
  width: 100%;
  object-fit: cover;
}

.venice-pic-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.home-two {
  margin-top: 5%;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30em;
}

.home-two p {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 40px;
}

.home-two:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1000px rgba(36, 35, 35, 0.6) inset;
}

.home-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nw-69th-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  margin: 4% 14% 20px 14%;  
}

.nw-69th-wrapper img {
  width: 100%;
  object-fit: cover;
}

.nw-69th-pic-1 {
  height: 50em;
}

.nw-69th-pic-2 {
  height: 50em;
}

.nw-69th-pic-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 4em;
  width: 100%;
  height: 270px;
  background-color: #576574;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}

footer div {
  width: 100%;
  padding: 6% 0 0 0;
  text-align: center;
  color: white;
}

footer div ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin: auto;
  padding-top: 0;
  padding-left: 0;
  width: 35%;
}

footer div ul li {
  margin: auto;
}

footer div ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

footer p {
  margin-top: 3em;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 1010px) {
  #logo {
    width: 13vw;
  }
  header {
    height: 100%;
  }
  header nav {
    display: flex;
  }
  header nav ul {
    display: none;
  }
  .menu-bars {
    display: block;
  }
  .livable-spaces {
    font-size: 25px;
    font-weight: 300;
  }
  .intro-three-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: auto;
    width: 90%;
  }

  .venice-wrapper {
    display: inline-block;
    margin: 4% 5% 0 5%;
  }

  .venice-pics {
    margin-top: 10px;
  }

  .home-one-bottom {
    margin: 10px 5% 0 5%;
  }

  .nw-69th-wrapper {
    display: inline-block;
    margin: 4% 5% 10px 5%;  
  }

  .nw-69th-pic-1 {
    height: 100%;
  }
  
  .nw-69th-pic-2 {
    height: 100%;
  }

  .nw-69th {
    margin-top: 10px;
  }

  footer div ul {
    display: block;
  }

  footer div ul li {
    margin: auto;
    padding-top: 18px;
  }

  
}

@media only screen and (min-device-width: 200px) and (max-device-width: 900px) {
  .britta-abode {
    font-size: 6vw;
  }
}