@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
/*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/*font-family: 'Lato', sans-serif*/
@import url('https://fonts.googleapis.com/css?family=Allura');

@import url('https://fonts.googleapis.com/css?family=Assistant:200,400');
/* footer text */

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* The main loading page with automatic image slider */
.home1-img-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home1-img-container::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b2bec3;
  opacity: 0.3;

}

.home1-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s ease-in;
  position: relative;
}

.home1-img-container img.fadeOut {
  opacity: 0.7;
}

#renovare {
  color: white;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  font-size: 20vh;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.home1-img-container a {
  position: absolute;
  font-size: 20px;
  width: 100%;
  margin: auto;
  top: 55%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  z-index: 1000;
}

.home1-img-container a .welcome {
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
}

.home1-img-container a .welcome:hover {
  color: #fab1a0;
  background-color: white;
}



/* The second main page with navigation menu and the three photo link selection */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
  color: white;
}

.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 50px;
}



#logo {
  width: 10vw;
  margin: 10px 0 0 10px;
}

.menu-bars {
  display: none;
  height: 30px;
  padding: 1%;
  padding: 5% 5%;
  color: white;
  text-align: right;
  font-size: 25px;
  margin: -0.1em 3% 0 0;
  width: 100%;
}

.icon {
  cursor: pointer;
}

header {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  text-align: right;
  margin: 30px 40px 0 0;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 0 30px 15px;
  padding: 15px;
}

header nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  color: gray;
}

.contact {
  border: 1px solid black;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.contact:hover {
  color: white;
  background-color: black;
}


.intro-three-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: auto;
  width: 75%;
  text-align: center;
  color: #636e72;
}

.intro-three-photos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  font-weight: 100;
}


footer {
  margin-top: 4em;
  width: 100%;
  height: 270px;
  background-color: #576574;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}

footer div {
  width: 100%;
  padding: 6% 0 0 0;
  text-align: center;
  color: white;
}

footer div ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin: auto;
  padding-top: 0;
  padding-left: 0;
  width: 35%;
}

footer div ul li {
  margin: auto;
}

footer div ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

footer p {
  margin-top: 3em;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 1010px) {
  #logo {
    width: 13vw;
  }
  header {
    height: 100%;
  }
  header nav {
    display: flex;
  }
  header nav ul {
    display: none;
  }
  .menu-bars {
    display: block;
  }

  .livable-spaces {
    font-size: 25px;
    font-weight: 300;
  }
  .intro-three-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: auto;
    width: 90%;
  }

  .venice-wrapper {
    display: inline-block;
    margin: 4% 5% 0 5%;
  }

  .venice-pics {
    margin-top: 10px;
  }

  .home-one-bottom {
    margin: 10px 5% 0 5%;
  }

  .nw-69th-wrapper {
    display: inline-block;
    margin: 4% 5% 10px 5%;  
  }

  .nw-69th-pic-1 {
    height: 100%;
  }
  
  .nw-69th-pic-2 {
    height: 100%;
  }

  .nw-69th {
    margin-top: 10px;
  }

  footer div ul {
    display: block;
  }

  footer div ul li {
    margin: auto;
    padding-top: 18px;
  }

  
}

@media only screen and (min-device-width: 200px) and (max-device-width: 900px) {
  .britta-abode {
    font-size: 6vw;
  }
}