@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
/*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/*font-family: 'Lato', sans-serif*/
@import url('https://fonts.googleapis.com/css?family=Allura');


body {
  margin: 0;
  padding: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
  color: white;
}

.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 50px;
}



#logo {
  width: 13vw;
  margin: 10px 0 0 10px;
}

.menu-bars {
  display: none;
  height: 30px;
  padding: 1%;
  padding: 5% 5%;
  color: white;
  text-align: right;
  font-size: 25px;
  margin: -0.1em 3% 0 0;
  width: 100%;
}

.icon {
  cursor: pointer;
}

header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  text-align: right;
  margin: 30px 40px 0 0;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 0 30px 15px;
  padding: 15px;
}

header nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  color: gray;
}

#contact {
  border: 1px solid white;
  padding: 10px;
}

#contact:hover {
  color: black;
  background-color: white;
}

#header-image { 
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#header-image img {
  width: 100%;
  vertical-align: bottom;
}

.intro-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8vw;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.britta-abode {
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vw;
  font-family: 'Allura', cursive;
  font-weight: 100;
}

#header-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1000px rgba(46, 49, 49, 0.6) inset;
}

#livable-container {
  width: 100%;
  text-align: center;
  margin: 5% 0 5% 0;
}

#livable-container div {
  width: 75%;
  margin: auto;
}

.livable-spaces {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.intro-three-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: auto;
  width: 75%;
}

.intro-three-photos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.home-one {
  margin-top: 5%;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
}

.home-one img {
  width: 100%;
  height: 60vh;
  object-fit: none;
}


@media only screen and (min-device-width: 260px) and (max-device-width: 1010px) {
  #logo {
    width: 13vw;
  }
  header {
    height: 100%;
  }
  header nav {
    display: flex;
  }
  header nav ul {
    display: none;
  }
  .menu-bars {
    display: block;
  }
  .livable-spaces {
    font-size: 25px;
    font-weight: 300;
  }

}