@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

/*designer and dreamer header text*/
/* .about-renovating {
  line-height: 1em;
}

.about__is_my_passion {
  text-align: center;
  position: relative;
  color: lightgray;
  font-size: 5vw;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}  */

.about-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about-bars {
  display: none;
  height: 30px;
  padding: 1%;
  padding: 5% 5%;
  color: black;
  text-align: right;
  font-size: 25px;
  margin: -0.1em 3% 0 0;
  width: 100%;
}

.nav-link {
  color: black;
}

.about {
  border: 1px solid black;
  transition: background-color 0.2s ease-in-out;
}

.about:hover {
  background-color: black;
  color: white;
}

.about-container {
  margin-top: 5em;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  height: 500px;
}

.about-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about-me {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  overflow: auto;
}

.about-heading {
  font-size: 2em;
  margin-top: -5px;
  color: #636e72;
}

.about-main-text {
  color: #636e72;
}

.about-footer {
  background-color: white;
}

.about-footer p {
  color: #636e72;
}




@media only screen and (min-device-width: 200px) and (max-device-width: 1010px) {
  .about-bars {
    display: block;
  }

  .about-container {
    display: inline-block;
    height: 100%;
  }

  .about-me {
    margin-top: 5%;
  }
}