

/*designer and dreamer header text*/
.designer-dreamer {
  text-align: center;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10vw;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.about-britta-abode {
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vw;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
} 

#about-header-image { 
  position: relative;
  display: inline-block;
  width: 100%;
}

#about-header-image img {
  width: 100%;
  vertical-align: bottom;
  height: 100vh;
  object-fit: none;
}

#about-header-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2000px rgba(36, 35, 35, 0.8) inset;
}

@media only screen and (min-device-width: 260px) and (max-device-width: 1010px) {
  .designer-dreamer {
    font-size: 10vw;
  }


}