@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
/*font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/*font-family: 'Lato', sans-serif*/

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#logo {
  width: 15%;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

header ul {
  display: flex;
  float: right;
  margin: 0 40px 0 0;
}

header ul li {
  list-style: none;
  margin: 30px 0 30px 15px;
  padding: 15px;
}

header ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  color: gray;
}

.contact {
  border: 1px solid white;
  padding: 10px;
}

.contact:hover {
  color: black;
  background-color: white;
}

#header-image {
  position: relative; 
  display: inline-block;
  width: 100%;
}

#header-image img {
  width: 100%;
}

.intro-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

#header-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 3000px rgba(46, 49, 49, 0.7) inset;
}